---
import { getCollection } from "astro:content";
import PostNavigationItem from "./PostNavigationItem.astro";

interface Props {
  currentPostSlug: string;
}

const posts = (await getCollection("post")).sort(
  (a, b) =>
    new Date(a.data.publishedAt).getTime() -
    new Date(b.data.publishedAt).getTime()
);

const currentPostIndex = posts.findIndex(
  (post) => post.id === Astro.props.currentPostSlug
);

const previousPost = posts[currentPostIndex - 1];
const nextPost = posts[currentPostIndex + 1];
---

<nav class="grid grid-cols-2 gap-3 p-8 max-w-[65ch]">
  <PostNavigationItem
    direction="previous"
    title={previousPost.data.title}
    imageSrc={previousPost.data.coverImage}
    slug={previousPost.id}
  />
  <PostNavigationItem
    direction="next"
    title={nextPost.data.title}
    imageSrc={nextPost.data.coverImage}
    slug={nextPost.id}
  />
</nav>
