---
import { getCollection } from "astro:content";
import PrevNextNavigationItem from "./PrevNextNavigationItem.astro";
import PrevNextNavigationEmptyItem from "./PrevNextNavigationEmptyItem.astro";
import { Navigations } from "../Navigations";
import ScrollToTopButton from "../Navigations/ScrollToTopButton.astro";

interface Props {
  navigateIn: "post" | "snippet";
  currentSlug: string;
}

const { navigateIn, currentSlug } = Astro.props;

const posts = (await getCollection(navigateIn)).sort(
  (a, b) => a.data.publishedAt.getTime() - b.data.publishedAt.getTime()
);

const currentPostIndex = posts.findIndex((post) => post.id === currentSlug);

const previousPost = posts[currentPostIndex - 1];
const nextPost = posts[currentPostIndex + 1];
---

<div class="flex flex-col gap-6 items-center">
  <nav
    class="grid grid-rows-2 toc-shown:grid-rows-[unset] toc-shown:grid-cols-2 gap-1.5 w-full"
  >
    {
      previousPost ? (
        <PrevNextNavigationItem
          type={navigateIn}
          direction="previous"
          title={previousPost.data.title}
          slug={previousPost.id}
          imageSrc={
            previousPost.collection === "post"
              ? previousPost.data.coverImage
              : undefined
          }
        />
      ) : (
        <PrevNextNavigationEmptyItem direction="previous" />
      )
    }
    {
      nextPost ? (
        <PrevNextNavigationItem
          type={navigateIn}
          direction="next"
          title={nextPost.data.title}
          slug={nextPost.id}
          imageSrc={
            nextPost.collection === "post"
              ? nextPost.data.coverImage
              : undefined
          }
        />
      ) : (
        <PrevNextNavigationEmptyItem direction="next" />
      )
    }
  </nav>
  <div class="flex gap-2">
    {navigateIn === "post" && <Navigations.Posts />}
    {navigateIn === "snippet" && <Navigations.Snippets />}
    <Navigations.ScrollToTopButton />
  </div>
</div>
