---
import { getCollection } from "astro:content";
import PrevNextNavigationItem from "./PrevNextNavigationItem.astro";
import Link from "astro-typesafe-routes/link";
import { ArrowUp, FileCode2, Newspaper } from "lucide-astro";
import PrevNextNavigationEmptyItem from "./PrevNextNavigationEmptyItem.astro";

interface Props {
  navigateIn: "post" | "snippet";
  currentSlug: string;
}

const { navigateIn, currentSlug } = Astro.props;

const posts = (await getCollection(navigateIn)).sort(
  (a, b) => a.data.publishedAt.getTime() - b.data.publishedAt.getTime()
);

const currentPostIndex = posts.findIndex((post) => post.id === currentSlug);

const previousPost = posts[currentPostIndex - 1];
const nextPost = posts[currentPostIndex + 1];
---

<div class="flex flex-col gap-6 items-center">
  <nav
    class="grid grid-rows-2 toc-shown:grid-rows-[unset] toc-shown:grid-cols-2 gap-1.5 w-full"
  >
    {
      previousPost ? (
        <PrevNextNavigationItem
          type={navigateIn}
          direction="previous"
          title={previousPost.data.title}
          slug={previousPost.id}
          imageSrc={
            previousPost.collection === "post"
              ? previousPost.data.coverImage
              : undefined
          }
        />
      ) : (
        <PrevNextNavigationEmptyItem direction="previous" />
      )
    }
    {
      nextPost ? (
        <PrevNextNavigationItem
          type={navigateIn}
          direction="next"
          title={nextPost.data.title}
          slug={nextPost.id}
          imageSrc={
            nextPost.collection === "post"
              ? nextPost.data.coverImage
              : undefined
          }
        />
      ) : (
        <PrevNextNavigationEmptyItem direction="next" />
      )
    }
  </nav>
  <div class="flex gap-2">
    {
      navigateIn === "post" && (
        <Link
          to="/posts"
          class="flex gap-1.5 px-3.5 py-3 rounded-full bg-white border border-neutral-200 items-center text-sm text-neutral-800 font-semibold engaged:bg-neutral-100 transition-colors shadow engaged:text-neutral-900"
        >
          <Newspaper class="flex-none" size={20} />
          <span>모든 글 보기</span>
        </Link>
      )
    }
    {
      navigateIn === "snippet" && (
        <Link
          to="/snippets"
          class="flex gap-1.5 px-3.5 py-3 rounded-full bg-white border border-neutral-200 items-center text-sm text-neutral-800 font-semibold engaged:bg-neutral-100 transition-colors shadow engaged:text-neutral-900"
        >
          <FileCode2 class="flex-none" size={20} />
          <span>모든 코드 조각 보기</span>
        </Link>
      )
    }
    <button
      aria-label="맨 위로 스크롤"
      id="scroll-to-top-button"
      type="button"
      class="flex gap-1.5 p-3 rounded-full bg-white border border-neutral-200 items-center text-sm text-neutral-800 font-semibold engaged:bg-neutral-100 transition-colors shadow engaged:text-neutral-900 cursor-pointer"
    >
      <ArrowUp class="flex-none" size={20} />
    </button>
  </div>
</div>

<script>
  document
    .getElementById("scroll-to-top-button")
    ?.addEventListener("click", () =>
      window.scrollTo({ top: 0, behavior: "smooth" })
    );
</script>
