---
import MainHeader from "../components/MainHeader.astro";
import Layout from "../layouts/Layout.astro";
import { getTags } from "../lib/contents";
import TagChip from "../components/TagChip.astro";
import { Collapsible } from "../components/Collapsible";
import { Tags as TagsIcon } from "lucide-astro";
import { METADATA } from "../lib/metadata";
import { $path } from "astro-typesafe-routes/path";

const tags = await getTags({ sortBy: "count" });
---

<Layout
  metadataProps={{
    title: `모든 ${METADATA.lexicons.tags.label}`,
    canonicalUrl: $path({ to: "/tags" }),
  }}
>
  <MainHeader
    class="w-full"
    title={`모든 ${METADATA.lexicons.tags.label}`}
    titleCount={tags.length}
  />
  <Collapsible
    client:load
    defaultOpen
    classNames={{
      root: "flex flex-col justify-start mx-4 mb-6 sidebar-shown:mb-8 border border-gray-200 dark:border-neutral-800 p-2 rounded-xl shadow-xs",
      triggerRoot:
        "flex items-center justify-between gap-1 rounded p-2 engaged:bg-gray-100 dark:engaged:bg-neutral-900 transition-colors cursor-pointer text-gray-500 dark:text-neutral-500",
      triggerContent: "flex items-center gap-2",
      triggerChevron: "transition-transform flex-none",
      triggerTitle: "font-semibold",
      panelContent: "mt-2 pt-0",
    }}
  >
    <TagsIcon slot="triggerIcon" size={22} />
    <Fragment slot="triggerTitle">
      {METADATA.lexicons.tags.label}
    </Fragment>
    <Fragment slot="panelContent">
      <ul role="list" class="flex flex-wrap gap-2 p-1.5">
        {
          tags.map(({ name, slug, count }) => (
            <li>
              <TagChip slug={slug} name={name} count={count} />
            </li>
          ))
        }
      </ul>
    </Fragment>
  </Collapsible>
</Layout>
