---
import { match } from "ts-pattern";
import { postDateFormatter } from "../lib/formatter";

interface Props {
  variant?: "flat" | "glass";
  publishedAt?: Date;
  updatedAt?: Date;
}

const { variant = "flat", publishedAt, updatedAt } = Astro.props;

const classNames = match(variant)
  .with("flat", () => ({
    description: "text-gray-400 dark:text-zinc-600",
    label: "text-gray-500 dark:text-zinc-500",
  }))
  .with("glass", () => ({
    description: "text-white/50",
    label: "text-white/75",
  }))
  .exhaustive();
---

<div
  class="grid grid-cols-[auto_1fr] gap-x-1.5 gap-y-0.5 text-sm ms-auto min-h-11 items-end"
>
  {
    publishedAt && (
      <>
        <span class={classNames.description}>작성</span>
        <time
          class:list={["whitespace-nowrap text-end", classNames.label]}
          datetime={publishedAt.toISOString()}
        >
          {postDateFormatter.format(publishedAt)}
        </time>
      </>
    )
  }
  {
    updatedAt && (
      <>
        <span class={classNames.description}>수정</span>
        <time
          class:list={["whitespace-nowrap text-end", classNames.label]}
          datetime={updatedAt.toISOString()}
        >
          {postDateFormatter.format(updatedAt)}
        </time>
      </>
    )
  }
</div>
