---
import { match } from "ts-pattern";

interface Props {
  variant?: "flat" | "glass";
  publishedAt?: Date;
  updatedAt?: Date;
}

const { variant = "flat", publishedAt, updatedAt } = Astro.props;

const formatter = new Intl.DateTimeFormat("ko-KR", {
  year: "numeric",
  month: "numeric",
  day: "numeric",
});

const classNames = match(variant)
  .with("flat", () => ({
    description: "text-neutral-400",
    label: "text-neutral-500",
  }))
  .with("glass", () => ({
    description: "text-white/50",
    label: "text-white/75",
  }))
  .exhaustive();
---

<div class="grid grid-cols-[auto_1fr] gap-x-1.5 gap-y-0.5 text-sm ml-auto">
  {
    publishedAt && (
      <>
        <span class={classNames.description}>작성</span>
        <time
          class:list={["whitespace-nowrap text-end", classNames.label]}
          datetime={publishedAt.toISOString()}
        >
          {formatter.format(publishedAt)}
        </time>
      </>
    )
  }
  {
    updatedAt && (
      <>
        <span class={classNames.description}>수정</span>
        <time
          class:list={["whitespace-nowrap text-end", classNames.label]}
          datetime={updatedAt.toISOString()}
        >
          {formatter.format(updatedAt)}
        </time>
      </>
    )
  }
</div>
