---
import { keyBy, mapValues } from "es-toolkit";
import "../styles/global.css";
import { Collapsible } from "../components/Collapsible";

const builtDate = new Date();

const formatter = Intl.DateTimeFormat("ko-KR", {
  year: "numeric",
  month: "2-digit",
  day: "2-digit",
  hour: "2-digit",
  minute: "2-digit",
  second: "2-digit",
  hour12: false,
  timeZoneName: "short",
});

const { year, month, day, hour, minute, second, timeZoneName } = mapValues(
  keyBy(formatter.formatToParts(builtDate), (part) => part.type),
  (part) => part.value,
);

// iso with timezone
const formattedDate = `${year}-${month}-${day}T${hour}:${minute}:${second}${timeZoneName}`;
---
<!doctype html>
<html lang="ko" class="motion-safe:scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
	</head>
	<body class="bg-body-bg">
	 	<header class="fixed top-0 w-full flex justify-between h-marginal-height z-10">
			<div class="sidebar-shown:absolute top-0 start-0 sidebar-shown:w-sidebar-width stretch:w-content-stretch-x-start stretch:ps-sidebar-stretch-x h-full">
				<div class="size-full flex items-center px-sidebar-padding-x sidebar-shown:bg-transparent transition-colors text-lg gap-2">
					<a href="https://te6.in/" target="_blank" class="font-medium text-neutral-600">
						te6.in
					</a>
					<div class="w-0.5 rounded-full h-[1.5em] bg-neutral-300" />
					<a href="/" class="font-bold text-neutral-800">
						Blog
					</a>
				</div>
			</div>
			<div class="sidebar-shown:ms-sidebar-width stretch:ms-content-stretch-x-start grow flex items-center justify-between px-4 stretch:me-sidebar-stretch-x">
				<div>contents</div>
				<div>contents</div>
			</div>
		</header>
		<aside class="fixed inset-y-0 -start-sidebar-width sidebar-shown:start-0 pt-marginal-height w-sidebar-width transition-[inset] overflow-y-auto overflow-x-hidden stretch:ps-sidebar-stretch-x stretch:w-content-stretch-x-start overscroll-y-none">
			<div class="bg-inherit h-marginal-height sticky -top-marginal-height -mt-marginal-height w-sidebar-width px-6">
				<div class="border-neutral-400 border-b bg-body-bg size-full" />
			</div>
			<div class="flex flex-col gap-4 w-sidebar-width px-sidebar-padding-x py-4">
				<Collapsible client:load />
				<div>Consectetur eu id ut occaecat minim esse excepteur eu proident do cillum adipisicing.</div>
				<div>Examples</div>
				<div>Examples</div>
				<div>Examples</div>
				<div>Examples</div>
				<div>Examples</div>
				<div>Examples</div>
				<div>Examples</div>
				<div>Examples</div>
				<div>Examples</div>
				<div>Examples</div>
				<div>Examples</div>
				<div>Examples</div>
				<div>Examples</div>
				<div>Examples</div>
				<div>Examples</div>
				<div>Examples</div>
			</div>
		</aside>
		<div class="sidebar-shown:ps-sidebar-width stretch:ps-content-stretch-x-start py-marginal-height min-h-screen stretch:pe-sidebar-stretch-x flex flex-col">
			<div
			class="flex flex-col grow sidebar-shown:px-2 transition-[padding]"
			>
				<main class="border-neutral-200 border-y sidebar-shown:border shadow-md bg-content-card-bg rounded-xl z-10 p-4 min-h-[calc(100vh-var(--spacing-marginal-height)+var(--radius-xl))]">
					<slot />
				</main>
				<footer class="fixed start-0 sidebar-shown:start-sidebar-width stretch:start-content-stretch-x-start px-4 end-0 stretch:end-sidebar-stretch-x bottom-0 h-marginal-height flex items-center justify-between">
					<div>마지막 업데이트: {formattedDate}</div>
					<div>
						foobar
						</div>
				</footer>
			</div>
		</div>
	</body>
</html>
