---
import { FileCode2, Newspaper, Rss, Tags } from "lucide-astro";
import { getTags } from "../../lib/contents";
import { Collapsible } from "../Collapsible";
import LinkSidebarItem from "./LinkSidebarItem.astro";
import TagChip from "../TagChip.astro";
import StarCount from "../StarCount.astro";
import { METADATA } from "../../lib/metadata";
import { $path } from "astro-typesafe-routes/path";

interface Props {
  currentPage?: { type: "posts" | "snippets" } | { type: "tags"; slug: string };
}

const { currentPage } = Astro.props;

const tags = await getTags({ sortBy: "count" });
---

<aside
  id="sidebar"
  class="fixed inset-y-0 hidden sidebar-shown:grid grid-cols-1 start-0 stretch:ms-sidebar-stretch-x pt-header-height transition-[inset] w-sidebar-width overflow-x-hidden overscroll-y-none [scrollbar-color:var(--color-gray-300)_transparent] dark:[scrollbar-color:var(--color-zinc-800)_transparent] [scrollbar-width:thin]"
>
  <div
    class="sticky top-0 inset-x-0 h-22 -mx-2 bg-gradient-to-b from-body-bg dark:from-body-bg-dark to-transparent pointer-events-none z-10 grid-pos-start"
  >
  </div>
  <div
    class="flex flex-col justify-between gap-6 w-[inherit] px-sidebar-padding-x py-4 grid-pos-start"
  >
    <nav class="flex flex-col gap-2">
      <LinkSidebarItem
        to="/posts"
        isCurrentPage={currentPage?.type === "posts"}
      >
        <Newspaper slot="icon" size={22} />
        <Fragment slot="title">{METADATA.lexicons.posts.label}</Fragment>
      </LinkSidebarItem>
      <LinkSidebarItem
        to="/snippets"
        isCurrentPage={currentPage?.type === "snippets"}
      >
        <FileCode2 slot="icon" size={22} />
        <Fragment slot="title">{METADATA.lexicons.snippets.label}</Fragment>
      </LinkSidebarItem>
      <Collapsible
        client:load
        defaultOpen={currentPage?.type === "tags"}
        classNames={{
          root: "flex flex-col -mx-2 justify-start",
          triggerRoot:
            "flex items-center justify-between gap-1 rounded-lg p-2 engaged:bg-body-item-engaged dark:engaged:bg-body-item-engaged-dark backdrop-blur-none engaged:backdrop-blur-sm transition-all z-10 cursor-pointer text-gray-700 dark:text-zinc-300 sticky top-2",
          triggerContent: "flex items-center gap-2",
          triggerChevron: "transition-transform flex-none",
          triggerTitle: "font-semibold",
          panelContent: "flex gap-3 mt-1",
        }}
      >
        <Tags slot="triggerIcon" size={22} />
        <Fragment slot="triggerTitle">{METADATA.lexicons.tags.label}</Fragment>
        <Fragment slot="panelContent">
          <div
            class="w-0.5 rounded-full bg-gray-200 dark:bg-zinc-800 ms-4.5 flex-none"
          >
          </div>
          <ul role="list" class="flex flex-wrap gap-1.5 py-1.5">
            {
              tags.map(({ slug, name, count }) => (
                <li>
                  <TagChip
                    slug={slug}
                    name={name}
                    count={count}
                    isCurrentPage={
                      currentPage?.type === "tags" && currentPage?.slug === slug
                    }
                  />
                </li>
              ))
            }
          </ul>
        </Fragment>
      </Collapsible>
    </nav>
    <div class="flex -mx-2 self-start">
      <a
        title="RSS 피드"
        aria-label="RSS 피드"
        href={$path({ to: "/rss.xml" })}
        target="_blank"
        rel="noopener noreferrer"
        class="flex items-center justify-center rounded-lg engaged:bg-body-item-engaged dark:engaged:bg-body-item-engaged-dark transition-colors text-gray-500 dark:text-zinc-500 size-9"
      >
        <Rss size={15} class="flex-none" stroke-width={3} />
      </a>
      <StarCount
        class="not-noscript:px-[0.6875rem] rounded-lg engaged:bg-body-item-engaged dark:engaged:bg-body-item-engaged-dark transition-colors text-gray-500 dark:text-zinc-500 font-semibold h-9 noscript:w-9 text-xs"
      />
    </div>
  </div>
</aside>
