---
import MainHeader from "../../components/MainHeader.astro";
import Layout from "../../layouts/Layout.astro";
import { getPosts, getSnippets, getTags } from "../../lib/contents";
import SnippetList from "../../components/SnippetList";
import PostList from "../../components/PostList";
import TagChip from "../../components/TagChip.astro";
import { Tags as TagsIcon } from "lucide-astro";
import { Collapsible } from "../../components/Collapsible";
import { METADATA } from "../../lib/metadata";
import { $path } from "astro-typesafe-routes/path";
import type { GetStaticPaths } from "astro";

export const getStaticPaths = (async () => {
  const tags = await getTags({});

  return tags.map(({ name, slug }) => ({
    params: { slug },
    props: { name, slug },
  }));
}) satisfies GetStaticPaths;

const { name, slug } = Astro.props;

const posts = (await getPosts({ sortBy: "publishedAt" })).filter(
  ({ data: { tags } }) => tags.includes(name)
);

const snippets = (await getSnippets({ sortBy: "publishedAt" })).filter(
  ({ data: { tags } }) => tags.includes(name)
);

const tags = await getTags({ sortBy: "count" });
---

<Layout
  metadataProps={{
    title: `${METADATA.lexicons.tags.label}: ${name}`,
    canonicalUrl: new URL(
      $path({ to: "/tag/[slug]", params: { slug } }),
      Astro.url.origin
    ).href,
  }}
  sidebarProps={{ currentPage: { type: "tags", slug } }}
>
  <MainHeader
    class="w-full"
    title={`${METADATA.lexicons.tags.label}: ${name}`}
    titleCount={posts.length + snippets.length}
  />
  <Collapsible
    client:load
    classNames={{
      root: "flex sidebar-shown:hidden flex-col justify-start mx-4 mb-8 border border-neutral-200 p-2 rounded-xl shadow-xs",
      triggerRoot:
        "flex items-center justify-between gap-1 rounded p-2 engaged:bg-neutral-100 transition-colors cursor-pointer text-neutral-500",
      triggerContent: "flex items-center gap-2",
      triggerChevron: "transition-transform flex-none",
      triggerTitle: "font-semibold",
      panelContent: "mt-2 pt-0",
    }}
  >
    <TagsIcon slot="triggerIcon" />
    <Fragment slot="triggerTitle">
      {METADATA.lexicons.tags.label}
    </Fragment>
    <Fragment slot="panelContent">
      <ul role="list" class="flex flex-wrap gap-2 p-1.5">
        {
          tags.map(({ count, slug: tagSlug, name }) => (
            <li>
              <TagChip
                slug={tagSlug}
                name={name}
                count={count}
                isCurrentPage={tagSlug === slug}
              />
            </li>
          ))
        }
      </ul>
    </Fragment>
  </Collapsible>
  {
    posts.length > 0 && (
      <>
        <span class="text-lg text-neutral-700 px-8">
          <h2 class="font-semibold inline">{METADATA.lexicons.posts.label}</h2>
          <span class="text-current/50 ms-1">{posts.length}</span>
        </span>
        <PostList posts={posts} />
      </>
    )
  }
  {
    snippets.length > 0 && (
      <>
        <span class="text-lg text-neutral-700 px-8">
          <h2 class="font-semibold inline">
            {METADATA.lexicons.snippets.label}
          </h2>
          <span class="text-current/50 ms-1">{snippets.length}</span>
        </span>
        <SnippetList snippets={snippets} />
      </>
    )
  }
</Layout>
