---
import { getCollection, getEntries, render } from "astro:content";
import { BaselineStatus } from "astro-embed";
import ImageWithInferredAlt from "../../components/ImageWithInferredAlt.astro";
import Prose from "../../components/Prose.astro";
import AnchorWithLinkPreviewTooltip from "../../components/mdx/AnchorWithLinkPreviewTooltip";
import Bluesky from "../../components/mdx/Bluesky.astro";
import Callout from "../../components/mdx/Callout.astro";
import Hr from "../../components/mdx/Hr.astro";
import LinkPreviewCard from "../../components/mdx/LinkPreviewCard";
import Twitter from "../../components/mdx/Twitter.astro";
import YouTube from "../../components/mdx/YouTube.astro";
import Layout from "../../layouts/Layout.astro";
import ImageGrid from "../../components/mdx/ImageGrid.astro";
import ImageColumns from "../../components/mdx/ImageColumns.astro";
import ImageStack from "../../components/mdx/ImageStack.astro";
import AppleMusic from "../../components/mdx/AppleMusic.astro";
import MainHeader from "../../components/MainHeader.astro";
import { getTag } from "../../lib/contents";
import TagChip from "../../components/TagChip.astro";
import AuthorChip from "../../components/AuthorChip.astro";
import MetadataGrid from "../../components/MetadataGrid.astro";
import Comments from "../../components/Comments.astro";
import PrevNextNavigation from "../../components/PrevNextNavigation";
import SeriesNavigation from "../../components/SeriesNavigation.astro";
import type { BlogPosting, BreadcrumbList, WithContext } from "schema-dts";
import { $path } from "astro-typesafe-routes/path";
import {
  getBreadcrumbListsFromTags,
  getPeopleFromAuthors,
  getSnippetBlogPostingId,
} from "../../lib/json-ld";
import JsonLd from "../../components/JsonLd.astro";
import { METADATA } from "../../lib/metadata";
import type { GetStaticPaths } from "astro";

export const getStaticPaths = (async () => {
  const snippets = await getCollection("snippet");

  return snippets.map((snippet) => ({
    params: { slug: snippet.id },
    props: { snippet },
  }));
}) satisfies GetStaticPaths;

const { snippet } = Astro.props;
const { Content } = await render(snippet);

const tagsWithCount = await Promise.all(snippet.data.tags.map(getTag));

const authors = await getEntries(snippet.data.authors);

const authorPeople = getPeopleFromAuthors(authors, Astro.url);

const blogPosting: WithContext<BlogPosting> = {
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "@id": getSnippetBlogPostingId(snippet, Astro.url),
  headline: snippet.data.title,
  keywords: tagsWithCount.map(({ name }) => name),
  author: authorPeople,
  copyrightHolder: authorPeople,
  url: Astro.url.href,
  dateCreated: snippet.data.publishedAt.toISOString(),
  datePublished: snippet.data.publishedAt.toISOString(),
  ...(snippet.data.updatedAt && {
    dateModified: snippet.data.updatedAt.toISOString(),
  }),
  articleBody: snippet.body,
};

const snippetBreadcrumbList: WithContext<BreadcrumbList> = {
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  itemListElement: [
    {
      "@type": "ListItem",
      position: 1,
      name: METADATA.lexicons.index.label,
      item: Astro.url.origin,
    },
    {
      "@type": "ListItem",
      position: 2,
      name: METADATA.lexicons.snippets.label,
      item: new URL($path({ to: "/snippets" }), Astro.url.origin).href,
    },
  ],
};

const tagsBreadcrumbLists = getBreadcrumbListsFromTags(
  tagsWithCount,
  Astro.url
);
---

<Layout
  metadataProps={{
    title: snippet.data.title,
    description:
      snippet.body?.slice(0, 160).replace(/\n/g, " ") ?? snippet.data.title, // fallback shouldn't happen
    keywords: tagsWithCount.map(({ name }) => name),
    authors: authors.map(({ id, data: { name } }) => ({ id, name })),
    article: {
      publishedAt: snippet.data.publishedAt,
      updatedAt: snippet.data.updatedAt,
    },
    canonicalUrl: new URL(
      $path({ to: "/post/[slug]", params: { slug: snippet.id } }),
      Astro.url.origin
    ).href,
  }}
>
  <MainHeader class="w-full" {...snippet.data}>
    <ul role="list" class="flex gap-1.5 flex-wrap">
      {
        tagsWithCount.map((tag) => (
          <li>
            <TagChip {...tag} />
          </li>
        ))
      }
    </ul>
    <div class="flex items-end justify-between gap-4 flex-wrap">
      <ul role="list" class="flex flex-wrap gap-3 translate-y-2.5">
        {
          authors.map(({ id, data }) => (
            <li>
              <AuthorChip id={id} {...data} />
            </li>
          ))
        }
      </ul>
      <MetadataGrid
        publishedAt={snippet.data.publishedAt}
        updatedAt={snippet.data.updatedAt}
      />
    </div>
  </MainHeader>
  <div
    class="flex flex-col pb-5 sidebar-shown:pb-9 toc-shown:pb-12 overflow-x-hidden gap-1 grid-pos-start transition-[padding]"
  >
    <SeriesNavigation
      currentType={snippet.collection}
      currentSlug={snippet.id}
      class="sidebar-shown:mt-4 p-4 pb-1 sidebar-shown:p-0 sidebar-shown:mb-2 transition-[padding]"
    />
    <div
      class="flex flex-col px-5 pt-6 toc-shown:px-8 sidebar-shown:pt-4 gap-12 transition-[padding]"
    >
      <Prose>
        <Content
          components={{
            Callout,
            LinkPreviewCard,
            AppleMusic,
            Twitter,
            YouTube,
            Bluesky,
            BaselineStatus,
            ImageColumns,
            ImageGrid,
            ImageStack,
            img: ImageWithInferredAlt,
            a: AnchorWithLinkPreviewTooltip,
            hr: Hr,
          }}
        />
      </Prose>
      <Comments />
      <PrevNextNavigation
        navigateIn={snippet.collection}
        currentSlug={snippet.id}
      />
    </div>
  </div>
</Layout>

<JsonLd data={[blogPosting, snippetBreadcrumbList, ...tagsBreadcrumbLists]} />
